@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*---------- Body ----------*/

/* .game-section {
    flex-wrap: wrap-reverse;
} */


body {
    font-family: 'Varela Round', sans-serif;
    background-color: #ddfee4;
}


/*---------- Header ----------*/

.header-section {
    text-align: center;
}

.game-logo {
    width: 200px;
    height: 200px;
}


/*---------- Game section ----------*/

.game-section {
    background-image: url("/assets/background-images/summer.jpg");
    background-size: cover;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 0px;
    padding: 5% 0 5% 0;
    max-width: 100%;
    height: auto;
}

.game-section-text {
    padding: 10px;
    background-color: #b6fcc5;
    color: #188163;
    font-weight: 600;
    max-width: 330px;
    max-height: auto;
    opacity: 0.85;
    border-radius: 30px;
    margin: 20px 30px 20px 30px;
    position: relative;
    display: inline-block;
}

.game-section-text p {
    margin: 20px;
}

.audio-button, .reset-button {
    font-size: 40px;
    margin: 10px;
    border: solid 2px;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.audio-button:hover, .reset-button:hover {
    opacity: 0.7;
}

.reset-button-pressed {
    background-color:#25161b
}

.mute-button {
    display: inline-block;
}

.enable-audio-button {
    display: none;
}

.animal-panel-div {
    min-width: 400px;
    margin: 20px 10px 20px 10px;
    display: inline-block;
}

.active-panel {
    border: solid 7px white !important;
    opacity: 0.4 !important;
}

.animal-panel {
    border-radius: 50px;
    border: solid 7px #b6fcc5;
    margin: 5px;
    max-width: 200px;
    min-width: 150px;
    cursor: pointer;
}

.animal-panel:hover {
    opacity: 0.8;
}

.elephant-panel {
    border: solid 7px #ff9980;

}

.pig-panel {
    border: solid 7px #b3ffb3;

}

.rattlesnake-panel {
    border: solid 7px #ffff80;

}

.sealion-panel {
    border: solid 7px #99ccff;

}


/*---------- Footer ----------*/

.footer-section {
    text-align: center;
    padding: 20px 0 20px 0;
}

#summer-button {
    background-color: #ddfee4;
    color: #20a882;
}

#winter-button {
    background-color: #eeeeee;
    color: #00adb5;
}

#galaxy-button {
    background-color: #25161b;
    color: #453953;
}

.theme-button-green {
    border-radius: 10px;
    border: solid 4px #28cc9e;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.theme-button-white {
    border-radius: 10px;
    border: solid 4px #00adb5;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.theme-button-dark {
    border-radius: 10px;
    border: solid 4px #453953;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

/* @media (max-width: 1120px) { 
    .game-section-text, .animal-panel {
    display: inline-block;
    };
};

@media (min-width: 992px) { 
    .game-section-text, .animal-panel {
    display: inline-block;
    };
}; */

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

@media all and (min-width: 800px) {
  /* We tell both game-section-text to share a row */
  #left, #right { flex: 1 auto; }
    .animal-panel-div { flex: 1 0px; }
    #left { order: 1; }
    .animal-panel-div { order: 3; }
    #right { order: 2; }
    .footer-section  { order: 4; }
}

@media all and (min-width: 1187px) {
  #left, #right { flex: 1 auto; }
    .animal-panel-div { flex: 1 0px; }
    #left { order: 1; }
    .animal-panel-div { order: 2; }
    #right { order: 3; }
    .footer-section  { order: 4; }
}

/* Large screens
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  /* .animal-panel-div { flex: 1 0px; }
  #left { order: 1; }
  .animal-panel-div { order: 2; }
  #right { order: 3; }
  .footer-section  { order: 4; }
} */ 

/* @media all and (max-width: 800px) {
    .animal-panel-div, #left, #right {
        display: inline-block;
        width: 90%;
    }
}  */