@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
}

/*---------- Header ----------*/

.header-section {
    background-color: #ddfee4;
    text-align: center;

}

.game-logo {
    width: 200px;
    height: 200px;
}


/*---------- Game section ----------*/

.game-section {

}


/*---------- Footer ----------*/

.footer-section {
    background-color: #ddfee4;
    text-align: center;
}



